@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
body {
    background-image: linear-gradient(#f69891, #ff9858, #e56d75,#f69891);
    height: 100%;
    font-weight: 500;
    text-align: center;
}


.login_logo {
    text-align: center;
    color: white;
}

.login_logo img {
    margin-top: -6vw;
    width: 9vw;
}

.login_logo .title {
    font-weight: 800;
    font-size: 12vw;
}

.big_button {
    margin: auto;
    width: 400px;
    background-color: rgb(244, 73, 101);
    color: white;

}


.submit_button {
    height: 45px;
    margin: 20px 0px;
    padding: 5px;
    width: 100%;
}

.left {
    font-weight: 700;
    text-align: left;
    font-size: 15px;
}
.extra_bold {
    font-weight: 900;
    font-size: 20px;
}


.login_auth_buttons {
    font-size: 1.5vw;
    margin: auto;
    padding: 50px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}