
body {
    background-image: linear-gradient(#f69891, #ff9858, #e56d75,#f69891);
    height: 100%;
    font-weight: 500;
    text-align: center;

}

body {
    background-image: linear-gradient(#FF655B, #FF5864, #FD297B);
    height: 100%;
}

.signup_page {
    color: white;
    font-weight: 500;
    color: black;
    font-size: 15px;
    text-align: center;
}

.signup_logo {
    text-align: center;
    color: white;
}

.signup_logo img {
    margin-top: -6vw;
    width: 9vw;
}

.signup_logo .title {
    font-weight: 800;
    font-size: 12vw;
}

.big_button {
    margin: 20px 0;
    font-weight: 800;
    width: 400px;
}

.left {
    font-weight: 700;
    text-align: left;
}
.extra_bold {
    font-weight: 900;
    font-size: 20px;
}


.signup_auth_buttons {
    font-size: 1.5vw;
    margin: auto;
    padding: 50px;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.submit_button {
    height: 45px;
    margin: 20px 0px;
    padding: 5px;
    width: 100%;
}