.rounded-circle{
    background-color: white;
    margin-left: 10px;
    border: none;
    align-items: "center";
}
.dislike{
    color: orange;
    height: 50px;
    width: 50px;
}

.like{
    color: purple;
    height: 50px;
    width: 50px;
}

.superlike{
    background-color:red;
    color:white;
    height: 50px;
    width: 50px;
}

.actionBar{
    margin-bottom: 20px;
}

.toast-success {
    background-color: #51a351;
  }